.App {
  text-align: center;
  padding: 100px 0;
  height: 100%;
}

.App .columns {
  flex-flow: row wrap;
}

.App .board {
  margin: 60px 0 0;
}

.App .tinyr-link {
  margin-top: 30px;
}

.board .button {
  margin-right: 15px;
  margin-bottom: 15px;
}

.App form {
  display: flex;
  flex-direction: column;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.App form .field {
  width: 100%;
}

.App form .control, .App form button {
  width: 100%;
}