.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App form .field {
  width: 100%;
}

.App form .control, .App form button {
  width: 100%;
}